<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noisyninja.abheda_droid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
        android:name=".activity.Settings"
        android:label="@string/app_name" >
    </activity>
        <activity
            android:name=".activity.About"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.LessonsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.LessonDetailActivity"
            android:label="@string/app_name"

            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.QuizDetailActivityDeprecated"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CourseActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
